
.cabinet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}
.cabinet-form-btn {
    width: 230px;
    height: 30px;
    border: none;
    background: #4ff069;
    border-radius: 20px;
    margin-top: 30px;

    cursor: pointer;
}
.cabinet-form-btn:hover {
    background: #42cc55;
}


.cabinet-form-input {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background: #e1e1e1;
    height: 25px;
    padding-left: 5px;

}
.cabinet-data {
    position: absolute;
    width: 206px;
    height: 28px;
    left: 163px;
    top: 270px;


}


.cabinet-form--form {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.cabinet-form-label {
    margin-bottom: 10px;
    font-size: 16px;
}

.cabinet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
    text-align: center;
}

.cabinet-header {
    margin-bottom: 33px;

}

.cabinet-form {
    padding-top: 30px;
    width: 460px;
    min-height: 360px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}






