.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-bottom: 100px;
}


.main-shoe-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 50px;
    margin-left: 150px;

    margin-top: 100px;
    max-width: 100%;
    flex-wrap: wrap;

}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    position: absolute;
    top: 20%;
    left: 48%;
    transform: translateX(-50%);
}

