.payment-and-delivery-form {
    position: absolute;
    width: 600px;
    height: 430px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.payment-and-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
    text-align: center;
}
.payment-and-delivery-header {
    position: absolute;
    left: 50%;
    top: 150px;
    margin-bottom: 33px;
    transform: translateX(-50%);
}


.payment-and-delivery-form-header {
    margin-bottom: 20px;
    margin-top: 40px;
}