
.filter-dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
}

.filter-dropdown__toggle {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;

    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.filter-dropdown__list {
    position: absolute;
    min-width: 100px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    margin: 0;
    display: none;

}
.filter-dropdown__sublist--option:hover {

    border-radius:10px ;
    padding: 1px;
}

.filter-dropdown:hover .filter-dropdown__list {
    display: block;
}

.filter-dropdown__sublist {
    position: relative;
}

.filter-dropdown__sublist-content {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    margin: 0;
    display: none;

}

.filter-dropdown__sublist:hover .filter-dropdown__sublist-content {
    display: block;
}

.filter-dropdown-btn {
    margin-left: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}