.my-orders-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.my-orders-table-th,
.my-orders-table-td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.my-orders-table-th {
    background-color: #f2f2f2;
}

.my-orders-table-btn-green,
.my-orders-table-btn-red {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.my-orders-table-btn-green {
    background-color: #4ff069;
    margin-right: 10px;
}

.my-orders-table-btn-red {
    background-color: #f54545;
}
